* {
    font-size: medium;
    position: relative;
}

p.p {
    font-size: medium;
    min-width: 100%;
}

div.card {
    padding: 10%, 10%, 10%, 10%;
}

.collapsed {
    max-height: 50px;
}

.bronze,
.silver,
.gold,
.merchant {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 3px;
    border: 1px solid dodgerblue;
    cursor: pointer;
    z-index: 1;
}

.bronze:hover,
.silver:hover,
.gold:hover,
.merchant:hover {
    border: 1px solid green;
}

h1,
h2.h2,
h3,
div.image,
.btnDiv {
    text-align: center;
}

.btnDiv>a#register {
    border: 1px, #dddddd;
    background-color: #dddddd;
    margin-top: 3%;
}

.btnDiv>button {
    margin-top: 3%;
}

.btnDiv>button,
.btnDiv>a,
textarea {
    width: 100%;
}

input[type=password],
input[type=text],
input[type=date],
input[type=file],
input[type=email],
input[type=number],
textarea,
.form-group>select,
.btnDiv>button,
div.forget>a,
.btnDiv>a {
    font-size: medium;
}

div.forget {
    text-align: right;
}

div.forget > a:hover {
    color: green;
}

table {
    width: 100%;
}

#links {
    font-size: 3rem;
}

textarea {
    resize: none;
}

main {
    min-height: 500px;
}

li > ul.dropdown:hover {
    display: block;
}

li > ul.dropdown {
    display: none;
}

div > div.buttons {
    text-align: center;
}

div > div.buttons > button {
    font-size: medium;
}